<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/create">Create User</a>
    </div>

    <table>
        <tr>
            <th>ID employee</th>
            <th>Employee Number</th>
            <th>Last name</th>
            <th>First Name</th>
            <th>SSN</th>
            <th>Pay Rate</th>
            <th>Pay Rates_idPay Rates</th>
            <th>Vacation Days</th>
            <th>Paid To Date</th>
            <th>Paid Last Year</th>
            <th>Acction</th>
        </tr>

        <% ListEmployee.forEach(function(user){ %>
            <tr>
                <td>
                    <%= user.idEmployee %>
                </td>
                <td>
                    <%= user['Employee Number'] %>
                </td>
                <td>
                    <%= user['Last Name'] %>
                </td>
                <td>
                    <%= user['First Name'] %>
                </td>
                <td>
                    <%= user.SSN %>
                </td>
                <td>
                    <%= user['Pay Rate'] %>
                </td>
                <td>
                    <%= user['Pay Rates_idPay Rates'] %>
                </td>
                <td>
                    <%= user['Vacation Days'] %>
                </td>
                <td>
                    <%= user['Paid To Date'] %>
                </td>
                <td>
                    <%= user['Paid Last Year'] %>
                </td>
                <td>
                    <!-- <a href="/getEmployeeId/<%= user.idEmployee %>">Edit</a> -->
                    <!-- <button>Edit</button> -->
                    <form action="/getEmployeeId/<%= user.idEmployee %>" method="post">
                        <button>Edit</button>

                    </form>
                    <form action="/deleteEmployee/<%= user.idEmployee %>" method="post">
                        <button>Delete</button>

                    </form>
                </td>
            </tr>
            <%});%>


    </table>

</body>

</html>